* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 280px 1fr;
}

.sidebar {
    background-color: #1b89cb;
    color: white;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 100px 460px 60px;
}

.dash-header {
    display: flex;
    grid-row: 1 / 2;

}

.dash-header > h1 {
    margin-top: 32px;
}

#dash-icon {
    width: 40px;
    height: auto;
    margin: 8px 12px;
}

.icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(37deg) brightness(108%) contrast(102%);
    width: 20px;
    height: auto;
    margin: 15px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
}

li > h2 {
    margin-top: 12px;
}

li > h2:hover {
    color: #e0e0e0;
    cursor: pointer;
}

.top-bar {
    grid-row: 2 / 3;
}

.bottom-bar {
    grid-row: 3 / 4;
}

.page {
    display: grid;
    grid-template-rows: 80px 80px 600px;
}

.header-top {
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
}

.header-bottom {
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 40px;
}

.article {
    grid-row: 1 / 2;
    background-color: #e3e8ef;
    display: grid;
    gap: 15px;
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 163px 170px 170px;
    grid-column: 1 / 2;
}

#profile-pic {
    border-radius: 90px;
    height: 50px;
    width: auto;
}

#id-pic {
    border-radius: 100px;
    height: 70px;
    width: auto;
}

.article-icon {
    width: 20px;
    height: auto;
    margin: 20px;
}

#search-box {
    background-color: #e3e8ef;
    border-radius: 40px;
    height: 32px;
    width: 725px;
}

#top-username {
    margin: 20px;
    font-size: 22px;
}

.user-welcome {
    display: flex;
    align-items: center;
}

.welcome-text {
    margin: 20px;
}

.content-buttons {
    display: flex;
}

.content-button {
    background-color: #1b89cb;
    border-radius: 100px;
    color: white;
    padding: 10px 25px;
    margin: 10px;
}

.card {
    border: solid;
    border-radius: 5px;
    background-color: white;
    border-top-color: white;
    border-right-color:white;
    border-bottom-color: white;
    border-left-color: #83a18e;
    border-width: 8px;
    height: 150px;
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
}

.card > h3 {
    margin: 10px;
}
p {
    margin: 10px;
    color: darkgrey;
    font-weight: 100;
    font-family: sans-serif;
}

.article-wrapper {
    display: grid;
    grid-template-columns: 750px 400px;
}

.article-sidebar {
    grid-column: 2 / 3;
    background-color: #e3e8ef;
}

.trending-box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    width: 300px;
}

.trending-item {
    display: flex;
    padding: 10px 0px;
    justify-content: flex-start;
}

.trending-item > img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 20px;
}

.trending-text > h3 {
    font-size: 16px;
    margin: 0px;
}

.announcement-box {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
}

br {
    color: #e3e8ef;
    height: 1px;
}

.article-box > h3 {
    background-color: #e3e8ef;
    padding: 15px 15px 0px;
}

.announcements > h3, .trending > h3 {
    padding: 10px;
}
